*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(183, 255, 251);
}

.div1{
    border: thin solid blue;
    max-width:1000px;
    margin: 5px auto;
    padding: 1em;
}

.div1 > ul{
    float: right;
    margin-right: 300px;
    list-style: none;
}

.div1 > ul > li{
    padding-bottom: 25px;
}

fieldset{
    width:1000px;
    margin: 5px auto;
    padding: 1em;
    border: thin solid rgb(218, 133, 22);
}

legend{
    border: solid rgb(255, 251, 0);
}

.ul1 > li{
    padding-bottom:5px ;
}
